body {
  background-color: #eeeeee;
  font-family: "promxima-nova-soft", sans-serif;
  color: #333333; }
  body a {
    text-decoration: none;
    color: #333333; }
    body a:hover {
      background-color: yellow; }
  body .container {
    width: 512px;
    margin: 0px auto; }
    body .container .nav, body .container .footer {
      font-family: "proxima-nova-soft", sans-serif;
      text-transform: lowercase;
      margin-top: 1em;
      color: #777777; }
      body .container .nav ul, body .container .footer ul {
        padding: 0;
        margin: 0;
        overflow: auto; }
        body .container .nav ul li, body .container .footer ul li {
          display: inline;
          list-style-type: none; }
    body .container .nav ul a {
      color: #777777; }
    body .container .nav ul .logo {
      font-weight: bold;
      float: left; }
    body .container .nav ul .link {
      float: right;
      padding-left: 1em; }
    body .container .footer {
      margin-bottom: 1em; }
      body .container .footer a {
        color: #777777; }
      body .container .footer .code {
        float: right; }
    body .container .homepage {
      margin-top: 2em; }
      body .container .homepage .logo {
        text-align: center;
        margin-top: 3em; }
        body .container .homepage .logo img {
          width: 256px; }
      body .container .homepage .this_week {
        margin-top: 4em;
        margin-bottom: 4em; }
        body .container .homepage .this_week .name {
          font-family: "proxima-nova-soft", sans-serif;
          text-align: center;
          font-size: 2em;
          margin: 0px;
          margin-top: 2em; }
        body .container .homepage .this_week .date, body .container .homepage .this_week .address {
          font-family: "promxima-nova-soft", sans-serif;
          text-align: center;
          margin: 0px;
          font-size: 1em; }
          body .container .homepage .this_week .date span, body .container .homepage .this_week .address span {
            background-color: yellow; }
    body .container .location {
      font-size: 1.25em; }
      body .container .location label {
        text-transform: uppercase;
        font-size: .5em;
        display: block;
        font-weight: bold;
        color: #777777;
        margin-top: 1.5em; }
      body .container .location .name {
        font-family: "proxima-nova-soft", sans-serif;
        font-size: 3em;
        margin-top: 16px;
        margin-bottom: 16px; }
      body .container .location .map {
        margin-top: 1.5em; }
