<html>
  <head>
    <link href="css/normalize.css" media="all" rel="stylesheet" type="text/css" />
    <link href="css/stylesheet.css" media="all" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="//use.typekit.net/gdg3bym.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>
  <body>
    <div class="container">
      <div class="nav">
        <ul>
          <li class="logo"><a href="/">brunchclub</a></li>
          <li class="link"><a href="/about">About</a></li>
          <li class="link"><a href="/howto">HowTo</a></li>
          <li class="link"><a href="/locations">Locations</a></li>
        </ul>
      </div>
